//color
//background: notification background
//Saturate: bottun background hover / highlight
//Main: button background
//Dark: notifications text color / bottun background pressed
//Darker: tooltips background
//Black: text
//primary-ui color

$primary-red-background: #f1e1e1;
$primary-red-saturate: #fb8e88;
$primary-red-main: #ea8784;
$primary-red-dark: #e06764;

$primary-yellow-background: #faeed8;
$primary-yellow-saturate: #fad849;
$primary-yellow-main: #e8b961;
$primary-yellow-dark: #dda043;

$primary-green-background: #dcedde;
$primary-green-saturate: #62d674;
$primary-green-main: #70b77a;
$primary-green-dark: #519d5a;

$primary-blue-background: #d4e7f6;
$primary-blue-saturate: #33b3f3;
$primary-blue-main: #519dd9;
$primary-blue-dark: #367fc9;

//Secondary-Graph / table color



$primary-aqua-background: #dceef0;
$primary-aqua-saturate: #65d9e2;
$primary-aqua-main: #72bac3;
$primary-aqua-dark: #53a1ac;

$primary-purple-background: #e1e1ec;
$primary-purple-saturate: #8e88cf;
$primary-purple-main: #8784b1;
$primary-purple-dark: #676496;

$primary-fuchsia-background: #ebe0e9;
$primary-fuchsia-saturate: #c884c2;
$primary-fuchsia-main: #ac82a7;
$primary-fuchsia-dark: #90628a;

$primary-bluegrey-background: #f0f2f5;
$primary-bluegrey-saturate: #80b0d1;
$primary-bluegrey-main: #809bb3;
$primary-bluegrey-dark: #607c98;
$primary-bluegrey-darker: #4e5a6a;

$primary-grey-background: #ededee;
$primary-grey-saturate: #d2d5d9;
$primary-grey-main: #b4b6ba;
$primary-grey-dark: #999ca1;
$primary-grey-darker: #747b80;
$primary-grey-black: #212429;


//Button

$button-big-height: 56px;
$button-normal-height: 40px;
$button-small-height: 24px;

$button-big-font: 24px;
$button-normal-font: 14px;
$button-small-font: 12px;

$base-round-corner: 2px;


//Font
$base-font: 14px;

//table


